<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /catalogo/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /catalogo/index.html [L]
</IfModule>
